<script setup lang="ts">
import { DarkThemeKeys } from '@/utils/provide-keys'
import { inject } from 'vue';

import { RouterLink, RouterView, useRoute } from 'vue-router'

import IconMoonVue from '@/components/Icons/IconMoon.vue';
import IconSunVue from '@/components/Icons/IconSun.vue';
import IconHome from '@/components/Icons/IconHome.vue';
import SwitchIcon from '@/components/SwitchIcon';
import ActionIcon from './components/ActionIcon';
import BaseLayout from './layouts/BaseLayout.vue';

const theme = inject(DarkThemeKeys);

const route = useRoute();

</script>

<template>
    <BaseLayout>
      <template #header>
        <div class="w-full max-w-screen-sm flex justify-between">
          <nav class="flex">
            <RouterLink to="/" v-if="route.path !== '/'">
              <ActionIcon :icon="IconHome"></ActionIcon>
            </RouterLink>
          </nav>
          <SwitchIcon
              :checked="theme?.isDark.value || false"
              :checked-icon="IconMoonVue"
              :icon="IconSunVue"
              @change="(value) => theme?.setDark(value)"
              aria-label="切换深色模式"
          >
            <template #checked>
              <IconMoonVue class="action-icon--fill"></IconMoonVue>
            </template>

            <template #unchecked>
              <IconSunVue class="action-icon--fill"></IconSunVue>
            </template>
          </SwitchIcon>
        </div>
      </template>
      <RouterView />

    </BaseLayout>
</template>
<style>
#app {
  height: 100%;
}
</style>
