
<script lang="ts" setup>
import ActionIcon from '../ActionIcon';
const props = defineProps<{
    visible: boolean
}>()
const emit = defineEmits<{
    (e: 'update:visible', value: boolean): void;
    (e: 'close'): void;
}>()

const closeModelBox = () => {
  emit('update:visible', false)
  emit('close')
}
</script>
<template>
    <transition>
      <div class="model-box flex justify-center items-center p-5 pointer-events-auto overflow-y-hidden overscroll-contain fixed inset-0 z-50 backdrop-blur-sm dark:bg-opacity-80 dark:bg-slate-900" v-if="props.visible">
        <div class="model-box__content min-w-[320px] min-h-[220px] p-5 dark:bg-slate-900">
          <div class="model-box__header flex items-center">
            <slot name="header"></slot>
            <ActionIcon class="ml-auto" @click="closeModelBox">
              <svg xmlns="http://www.w3.org/2000/svg"
                   fill="none"
                   viewBox="0 0 24 24"
                   stroke-width="1.5"
                   stroke="currentColor"
                   class="action-icon--stroke"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </ActionIcon>
          </div>
          <div class="model-box__main">
            <slot></slot>
          </div>
        </div>
      </div>
    </transition>
</template>
<!-- <style scoped>
</style> -->