<script lang="ts" setup>
import {ref, onMounted, toRefs} from 'vue';

const props = defineProps<{
  modelValue: string;
  test?: number;
  autosize?: { min: number, max: number};
  rows?: number;
}>()
const emit = defineEmits<{
    (e: 'update:modelValue', value: string): void;
}>()
const {autosize, rows: propsRows} = toRefs(props)
const rows = ref(propsRows?.value || 2);
const minRows = autosize?.value?.min || rows.value;
const maxRows = autosize?.value?.max || rows.value;
const rowHeight = ref(16*1.5);
const borderHeight = ref(0);
const textarea = ref<HTMLTextAreaElement | null>(null);

const getStyles = (el: Element) => {
  const int = (value?: string) => value ? parseFloat(value) : NaN;
  if (!el) return {int};
  const styles = getComputedStyle(el);
  return {
    styles,
    int
  };
}
const handlerTextarea = (event: Event) => {
  const el = event.target as HTMLTextAreaElement;
  emit('update:modelValue', el.value)

  if (!autosize?.value) return;

  const maxH = rowHeight.value * maxRows + borderHeight.value

  el.style.height = 'auto';
  el.style.height = Math.min(maxH, el.scrollHeight + borderHeight.value) + 'px';
}
onMounted(() => {
  if (textarea.value) {
    const {styles, int} = getStyles(textarea.value);
    const top = styles?.borderTopWidth
    const bottom = styles?.borderBottomWidth
    const height = Math.max( int(styles?.fontSize), int(styles?.lineHeight));
    borderHeight.value = (top && bottom && (int(top) + int(bottom))) || rowHeight.value
    rowHeight.value = height
  }
})
</script>
<template>
    <textarea
        ref="textarea"
        type="text"
        placeholder="請輸入訊息"
        class="base-textarea w-full resize-none overflow-y-hidden"
        :rows="minRows"
        :value="modelValue"
        @input="handlerTextarea"
    ></textarea>
</template>