<script lang="ts" setup>
import { toRefs } from 'vue';
import type {AvatarColorKey} from './types'
import {AVATAR_COLOR,randomColor} from './utils';

export interface Props {
  userInfo: {
    name: string;
    avatar?: string;
    avatarColor: AvatarColorKey | string;
  }
}
const props = defineProps<Props>()
const userInfo = toRefs(props.userInfo);
const userName = (userInfo.name.value || 'A')[0]
const userAvatarColor = AVATAR_COLOR[props.userInfo.avatarColor] || randomColor() 
</script>
<template>
    <div :class="['user-avatar', userAvatarColor]">
      <img v-if="userInfo.avatar?.value" :src="userInfo.avatar.value" alt="user avatar">
      <span v-else class="uppercase">{{ userName }}</span>
    </div>
</template>

<style>
.user-avatar {
  @apply w-10 h-10 rounded-full flex justify-center items-center overflow-hidden;
}
</style>