<script lang="ts" setup>
const props = defineProps<{
    loading: boolean
}>()
</script>
<template>
    <div class="loading [&:not(.is-loading)]:hidden absolute inset-0 z-10 backdrop-blur-sm justify-center items-center dark:bg-opacity-80 dark:bg-slate-900"
         :class="{'is-loading': props.loading, 'flex': props.loading}"
    >
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke-width="1.5"
           stroke="currentColor"
           class="loading-icon w-10 h-10"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
      </svg>

    </div>
</template>
<style scoped>
.loading.is-loading .loading-icon {
  animation: loading-anim 4s ease-in-out infinite;
}

@keyframes loading-anim {
  0% {
    transform: rotate(0);
  }

  20% {
    transform: rotate(45deg);
  }

  40% {
    transform: rotate(90deg);
  }

  60% {
    transform: rotate(135deg);
  }

  80% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(180deg);
  }
}
</style>