@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html, body {
        height: 100%;
    }
    body {
        @apply bg-slate-300 text-slate-800 dark:bg-neutral-900 dark:text-slate-100;
        font-size: 15px;
        font-family:
            Inter,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            "Fira Sans",
            "Droid Sans",
            "Helvetica Neue",
            sans-serif;
        line-height: 1.6;
        text-rendering: optimizelegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    input {
        @apply outline-none py-2 px-3 border-2 border-opacity-0 border-black focus:border-opacity-100 dark:focus:border-sky-500 dark:text-stone-900 ;
    }
    textarea {
        @apply outline-none py-2 px-3 border-b border-opacity-0 border-black;
    }
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    ::-webkit-scrollbar-thumb {
        @apply bg-gray-600 rounded-full border-x-2 border-solid border-white dark:border-gray-600 dark:bg-gray-900;
    }
    ::-webkit-scrollbar-track {
        @apply rounded-full dark:bg-slate-600;
        @apply my-1;
    }
}
@layer components {
    .action-icon--fill {
         @apply rounded-full inline-block w-full h-full shadow-lg transform filter bg-slate-50 dark:fill-slate-100 dark:bg-gray-800;
         @apply hover:brightness-110;
         @apply active:scale-90;
    }
    .action-icon--stroke {
         @apply rounded-full inline-block w-full h-full shadow-lg transform filter bg-slate-50 dark:stroke-slate-100 dark:bg-gray-800;
         @apply hover:brightness-110;
         @apply active:scale-90;
    }
    .msg-edge-arrow::after,
    .msg-edge-arrow::before {
        @apply w-8 h-8 rounded-full inline-block absolute;
        content: "";
    }
    .msg-edge-arrow::after {
        @apply bg-inherit -top-3;
    }
    .msg-edge-arrow::before {
        @apply bg-gray-200 dark:bg-gray-700;
    }
}