<template>
    <div class="layout h-full flex flex-col relative">
      <header class="sticky top-0 z-20 bg-stone-50 flex justify-center items-center gap-8 px-8 py-2 border-b border-b-stone-300 dark:bg-stone-900 dark:border-b-stone-600">
        <slot name="header"></slot>
      </header>
      <main class="flex-1 flex h-0">
        <slot></slot>
      </main>
    </div>
</template>