<template>
    <main class="w-full flex flex-1 justify-center relative sm:px-5">
      <div class="w-full min-h-[400px] max-w-screen-sm flex items-center bg-gray-100 dark:bg-black">
        <slot></slot>
      </div>
    </main>
</template>