<script lang="ts" setup>
import { ref, reactive } from 'vue'
import { randomColorKey } from '@/components/UserAvatar'
import { useRouter } from 'vue-router'
import useUserStore from '@/store/UserStore';
import Loading from '@/components/Loading'
import {useToast} from 'vue-toast-notification';

// utils
import fakeName, { word } from '@/api/mock/data';
import { API_URL } from '@/api/api-url'

// component
import BaseMain from '@/layouts/BaseMain.vue'

type RuleType = 'required' | 'string';
interface Rule {
  type: RuleType;
  msg: string;
  status: -1 | 0 | 1;
}

const userStore = useUserStore();
const router = useRouter();
const loading = ref(false);
const $toast = useToast()

const name = ref('');
const nameRule: Rule[] = reactive([
  { type: 'required', msg: '必填，好嗎', status: 0 }
])
const resolveRule = (type: Rule['type']): ((value: unknown) => boolean) | undefined => {
  if (type === 'required') return (value) => !!value
}
const checkRule = (rules: Rule[], value: any) => {
  return rules.every((rule) => {
    const { type } = rule
    if (type && !resolveRule(type)?.(value)) {
      rule.status = -1;
      return false
    }
    rule.status = 1;
    return true
  })
}
const inputRandomName = () => {
  const length = word.length;
  const random = () => ~~(Math.random() * length) + 1;
  const useRandomName = () => {
    const fakeIndex: number = random();
    const useWord = fakeIndex > fakeName.length;
    return useWord ? word[fakeIndex+1] + word[fakeIndex+2] + word[fakeIndex+3] : fakeName[fakeIndex]
  }
  name.value = useRandomName();
}

const submit = async () => {
  if (!checkRule(nameRule, name.value)) return;

  try {
    loading.value = true;
    await getUUID()
    loading.value = false;
    router.push({ name: 'home' })
  } catch (e) {
    if (e instanceof Error) {
      loading.value = false;
      console.error(e)
      $toast.error(e.message, {
        position: 'top'
      })
    }
  }
}
const getUUID = async () => {
  const resdata = await fetch(API_URL.GET_USER_ID)
  const res = await resdata.json();
  const user = {
    uuid: res.data,
    name: name.value,
    avatarColor: randomColorKey(),
    level: 1
  }
  userStore.setUserInfo(user)
}
</script>
<template>
    <BaseMain>
      <Loading :loading="loading" />
      <div class="login w-full px-5">
        <div class="flex flex-col gap-2 py-5 m-auto max-w-sm text-center">
          <div class="text-3xl select-none flex justify-between items-center">
            暱稱
            <button @click="inputRandomName"
                    class="text-xl flex rounded-2xl py-2 px-5 border hover:bg-slate-200 hover:border-slate-400 dark:hover:bg-slate-900 dark:border-slate-600"
            >
              隨便給你幾個字
              <svg xmlns="http://www.w3.org/2000/svg"
                   fill="none"
                   viewBox="0 0 24 24"
                   stroke-width="1.5"
                   stroke="currentColor"
                   class="w-6 h-6"
              >
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 18v-5.25m0 0a6.01 6.01 0 001.5-.189m-1.5.189a6.01 6.01 0 01-1.5-.189m3.75 7.478a12.06 12.06 0 01-4.5 0m3.75 2.383a14.406 14.406 0 01-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 10-7.517 0c.85.493 1.509 1.333 1.509 2.316V18"
                />
              </svg>
            </button>
          </div>

          <input type="text"
                 v-model="name"
                 class="rounded-full text-center"
                 placeholder="小明.."
                 required
                 @input="() => checkRule(nameRule, name)"
          >
          <span v-for="(rule, i) in nameRule"
                :key="i"
                class="text-red-500"
                :class="[rule.status === -1 ? 'visible' : 'invisible']"
          >必填，謝謝</span>
        </div>

        <div class="m-auto max-w-sm py-5 text-center">
          <button @click="submit"
                  class="w-full bg-sky-500 text-stone-100 dark:text-slate-900 rounded-full px-5 py-2 text-xl transition hover:bg-sky-400"
          >開始聊天</button>
        </div>
      </div>

    </BaseMain>

</template>