<script lang="ts" setup>
import type { Component, PropType } from 'vue'

const props = defineProps<{
  icon?: PropType<Component | string>;
}>()

</script>
<template>
    <button class="action-icon w-12 h-12 rounded-full p-1 bg-gray-300 dark:bg-gray-600"
            type="button"
            role="action button"
    >

      <slot>
        <component :is='props.icon' class="action-icon--stroke"></component>
      </slot>

    </button>
</template>