<script lang="ts" setup>
import type { Component, PropType } from 'vue'
import { computed } from 'vue'

const props = defineProps<{
  checked: boolean;
  checkedIcon: PropType<Component | string>;
  icon: PropType<Component | string>;
}>()

const emit = defineEmits<{
  (e: 'click', event: Event): void
  (e: 'update:checked', checked: boolean): void
  (e: 'change', checked: boolean): void
}>()

const data = computed({
  get() {
    return props.checked
  },
  set(value) {
    emit('update:checked', value)
  }
})

const onClick = (event: Event) => {
  const v = !data.value
  emit('update:checked', v)
  emit('change', v)
  emit('click', event)
}
</script>
<template>
    <button class="switch-icon w-12 h-12 rounded-full p-1 bg-gray-300 dark:bg-gray-600"
            type="button"
            role="switch"
            @click="onClick"
    >
      <transition
          class="inline-block rounded-full p-1"
          enter-active-class="transition duration-200 ease-out"
          leave-active-class="transition duration-200 ease-in"
          :enter-from-class="data ? 'transform -translate-y-full scale-50 opacity-0' : 'transform translate-y-full scale-50 opacity-0'"
          enter-to-class="transform translate-y-0"
          leave-from-class="transform translate-y-0"
          :leave-to-class="data ? 'transform translate-y-full scale-50 opacity-0' : 'transform -translate-y-full scale-50 opacity-0'"
          mode="out-in"
      >
        <slot name="checked" v-if="data">
          <component :is='props.checkedIcon'></component>
        </slot>
        <slot name="unchecked" v-else>
          <component :is='props.icon'></component>
        </slot>

      </transition>
    </button>
</template>