<script lang="ts" setup>
import type { IMessageType } from '@/api/types/Message';

import TextMessageVue from './TextMessage.vue';
import ImageMessageVue from './ImageMessage.vue';

const props = defineProps<{
    type: IMessageType;
    content: any;
    arrow: 'none' | 'left' | 'right'
}>()

</script>
<template>
    <div class="chat-message bg-inherit" :class="[props.arrow]">
      <div class="msg-edge-arrow absolute bg-inherit" />
      <div  class="msg-content flex flex-wrap rounded-xl px-5 py-2 relative whitespace-pre-wrap break-all bg-gray-200 dark:bg-gray-700">
        <ImageMessageVue v-if="props.type === 'image'" :content="Array.isArray(props.content) ? props.content : undefined" />
        <TextMessageVue v-else :content="props.content" />
      </div>
    </div>
</template>

<style scoped>
.chat-message.right .msg-edge-arrow {
  @apply right-0 mr-4;
}

.chat-message.right .msg-edge-arrow::before,
.chat-message.right .msg-content {
  @apply bg-slate-300 dark:bg-gray-500;
}

.chat-message.left:not(.right) .msg-edge-arrow {
  @apply left-0 -ml-4;
}
</style>