<script lang="ts" setup>
import type { IMessageType, IMessage } from '@/api/types/Message';
import type { Ref } from 'vue'
import { ref, reactive, nextTick, onMounted, onBeforeUnmount, h } from 'vue'
import { onBeforeRouteLeave } from 'vue-router'
import useUserStore from '@/store/UserStore'
// utils
import { ChatWs } from './useWss';
import { Message } from '@/entities/Message';
import {useToast} from 'vue-toast-notification';
import {toBase64,toBlob, checkPhoto, filePhotoTypes} from '@/utils/resolve-file'
// api
import { API_URL } from '@/api/api-url'
// component
import UserAvatar from '@/components/UserAvatar';
import IconAirplane from '@/components/Icons/IconAirplane.vue'
import IconPhoto from '@/components/Icons/IconPhoto.vue';
import BaseTextarea from '@/components/BaseTextarea';
import BaseMain from '@/layouts/BaseMain.vue';
import ChatMessageVue from './ChatMessage.vue';
import SystemMessageVue from './SystemMessage.vue';

const userStore = useUserStore();
const $toasts = useToast({
  'position': 'top',
  'duration': 5000
});

// ws handler
let ws: ChatWs;

// message handler
const messageBoxRef: Ref<HTMLDivElement | null> = ref(null);
const messages: IMessage<string, IMessageType>[] = reactive([])
const userChatInfo = reactive(new Message(userStore.user))

/**
 * 發送入場的系統訊息
 */
const sendJoinMessage = () => {
  userChatInfo.message.type = 'join'
  ws.send(JSON.stringify(userChatInfo.get()))
}
/**
 * 發送退場的系統訊息
 */
const onClientExit = () => {
  userChatInfo.message.type = 'exit'
  ws.send(JSON.stringify(userChatInfo))

  ws && ws.closure(4001, '客戶退出連線頁面 closure:close')
  console.log('客戶退出連線頁面')
}
/**
 * 更新聊天訊息
 * @param event 
 */
const updateMessage = async (event: MessageEvent) => {
  let text = event.data
  if (event.data instanceof Blob) {
    text = await new Response(event.data).text();
  }
  messages.push(JSON.parse(text))

  nextTick(updateMessageBoxRefScrollbar)
}
/**
 * 傳送文字訊息
 * @param event 
 */
const submitMessageText = (event: KeyboardEvent) => {
  if (event.isComposing) return;
  if (!userChatInfo.message.content) return;

  userChatInfo.message.type = 'text'

  const msg = userChatInfo.get();
  messages.push(msg);
  ws.send(JSON.stringify(msg))

  nextTick(() => {
    updateMessageBoxRefScrollbar();
    userChatInfo.resetMessage()
  })
}
/**
 * 傳送圖片訊息
 * @param event 
 */
const submitPhotoText = async (event: Event) => {
  const input = event.target as HTMLInputElement;
  const files = input.files
  const imgs = []

  if (!files || !files.length) return;

  for (const file of files) {
    const fail = checkPhoto(file) && ($toasts.error('圖片類型錯誤，接受類型為 bmp/gif/jpeg/png/tiff/webp')) && true;
    if (fail) return;
  
    const reader = await toBase64(file)
    imgs.push(reader as string);
  }
  // 這裡content不存imgs，不要把img傳出去，怕伺服器流量爆掉要收錢
  userChatInfo.message.type = 'image';
  const {user, message} = userChatInfo.get();
  ws.send(toBlob({user,message}))
  messages.push({
    user,
    message: {...message, content: imgs}
  })

  $toasts.error('因主機資源有限，故無法進行文件傳送')

  nextTick(()=> {
    updateMessageBoxRefScrollbar();
    userChatInfo.resetMessage()
  })
}

// document handler
const updateMessageBoxRefScrollbar = () => {
  const scrollHeight = messageBoxRef.value?.scrollHeight || 0;

  messageBoxRef.value?.scrollTo({
    top: scrollHeight,
    behavior: 'smooth'
  })
}
// css handler
const isUserSelf = (uuid: string) => userChatInfo.user.uuid === uuid

onMounted(() => {
  ws = new ChatWs(API_URL.CHAR.replace(/^http/, 'ws'))
  ws.addSimpleAutoListener('message', updateMessage)
  ws.addSimpleAutoListener('open', sendJoinMessage)
  ws.openHeartbeat()
})
onBeforeUnmount(() => {
  onClientExit()
})
onBeforeRouteLeave(() => {
  onClientExit()
})

</script>

<template>
    <BaseMain>
      <div class="w-full h-full flex flex-col bg-inherit">
        <div class="w-full bg-inherit px-4 overflow-y-auto flex-1" ref="messageBoxRef">

          <div class="message-item px-2 py-2 flex gap-4 bg-inherit"
               v-for="item in messages"
               :key="item.user.uuid"
               :class="{ 'is-user': isUserSelf(item.user.uuid) }"
          >
            <SystemMessageVue v-if="item.user.uuid === '0'" :type="item.message.type" :content="item.message.content"/>
            <template v-else>
              <UserAvatar :userInfo="item.user" class="flex-shrink-0 relative z-10" />
              <div class="bg-inherit">
                <div class="user-name relative z-10 pb-1">
                  {{ item.user.name }}
                </div>
                <ChatMessageVue :type="item.message.type" :content="item.message.content" arrow="none"/>
              </div>
            </template>
          </div>

        </div>
        <div class="flex gap-5 bg-inherit py-2 px-2 border-t border-gray-500 z-10"
             @keydown.enter.prevent.stop="submitMessageText"
        >
          <BaseTextarea v-model="userChatInfo.message.content"
                        class="bg-inherit pr-4 px-5 order-1 border border-stone-600 rounded-3xl"
                        :autosize="{min: 1, max: 2}"
                        @keydown.shift.stop
          />
          <div class="input-sidebar flex flex-col order-1">
            <IconAirplane class="action-icon--stroke w-10 h-10 p-2 cursor-pointer" @click="submitMessageText" />
          </div>
          <div class="input-sidebar flex">
            <label>
              <IconPhoto  class="action-icon--stroke w-10 h-10 p-2 cursor-pointer"/>
              <input type="file"
                     class="hidden"
                     multiple
                     @change="(e)=>submitPhotoText(e)"
                     :accept="filePhotoTypes.join(',')"
              />
            </label>
          </div>
        </div>
      </div>
    </BaseMain>

</template>

<style scoped>
.message-item.is-user {
  @apply flex-row-reverse;
}

.message-item.is-user .user-name {
  @apply text-right;
}

.message-item.is-user:deep(.msg-edge-arrow) {
  @apply right-0 mr-4;
}

.message-item.is-user:deep(.msg-edge-arrow::before),
.message-item.is-user:deep(.msg-content) {
  @apply bg-slate-300 dark:bg-gray-500;
}

.message-item:not(.is-user):deep(.msg-edge-arrow) {
  @apply left-0 -ml-4;
}

</style>