<script lang="ts" setup>
import { ref, reactive } from 'vue'

import ModelBox from '@/components/ModelBox';
import ActionIcon from '@/components/ActionIcon';

const props = defineProps<{
    content?: string[];
}>()

const modelBoxVisible = ref(false);
const modelBoxPhoto = reactive({
  src: '',
  glass: false
});
</script>
<template>
    <div class="image-message" >
      <ModelBox v-model:visible="modelBoxVisible" @close="() => modelBoxPhoto.glass = false">
        <template #header>
          <ActionIcon @click="() => modelBoxPhoto.glass = !modelBoxPhoto.glass">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="action-icon--stroke p-1"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
            </svg>
          </ActionIcon>
        </template>
        <div class="p-5 overflow-auto w-full max-h-[80vmin]">
          <img :src="modelBoxPhoto.src" class="w-auto" :class="{'max-w-max': modelBoxPhoto.glass}">
        </div>
      </ModelBox>
      <div class="flex flex-wrap rounded overflow-hidden">
        <template v-if="props.content">
          <div v-for="img in props.content"
               :key="img"
               class="flex flex-[50%] h-32"
               @click="() => {modelBoxVisible = !modelBoxVisible;modelBoxPhoto.src=img}"
          >
            <img :src="img"
                 class="cursor-pointer w-full h-full object-cover"
            />
          </div>
        </template>
        <div v-else class="text-red-500 dark:text-orange-200">
          <h6>
            <svg 
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 inline-block"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
            </svg>
            系統通知
          </h6>
          <p>對方傳送了圖片，但因主機資源有限，故無法為您下載文件</p>
        </div>
      </div>
    </div>
</template>