<script lang="ts" setup>
import type { IMessageType } from '@/api/types/Message';

const props = defineProps<{
    type: IMessageType;
    content?: any;
}>()
</script>
<template>
    <div class="system-message w-full px-5 py-2 rounded-xl whitespace-pre-line break-all"
         :class="
           {
             'bg-gray-200 dark:bg-gray-900': props.type === 'system',
             'bg-amber-200 dark:bg-amber-600': props.type === 'warn',
             'bg-red-200 dark:bg-red-800': props.type === 'error',
             'bg-sky-200 dark:bg-sky-800': props.type === 'important',
           }"
    >
      <slot>
        {{content}}
      </slot>
    </div>
</template>