<script lang="ts" setup>
const props = defineProps<{
    content: string;
}>()

</script>
<template>
    <p class="text-message">
      <slot>
        {{props.content}}
      </slot>
    </p>
</template>